<label>
  User:
  <input type="text" {{on "keydown" this.addUser}} />
</label>
<label>
  Organization:
  <input type="text" {{on "keydown" this.addOrganization}} />
</label>

<ul>
  {{#each this.redux.state.users as |user|}}
    <li>
      {{user}}
    </li>
  {{/each}}
</ul>

<button type="button" {{on "click" this.logOrganizationRedux}}>Log Organizations</button>
<div>Merge user and organizations</div>
<ul>
  {{#each this.records as |record|}}
    <li>
      {{record}}
    </li>
  {{/each}}
</ul>